/* ------------------------------------------------------------------ Columns */
.row {
	margin: 0 toem(-15) 0 toem(-15);
	display: flex;
    flex-wrap: wrap;
	[class^="col-"], [class*=" col-"] {
		padding: 0 toem(15) 0 toem(15);
	}
}
[class^="col-"], [class*=" col-"] {
    min-height: 1px;
    width: 100%;
}
@include min(479) {
	.col-min-12 { width: 100%; }
	.col-min-11 { width: 91.65%; }
	.col-min-10 { width: 83.33%; }
	.col-min-9 { width: 75%; }
	.col-min-8 { width: 66.66%; }
	.col-min-7 { width: 58.33%; }
	.col-min-6 { width: 50%; }
	.col-min-5 { width: 41.66%; }
	.col-min-4 { width: 33.33%; }
	.col-min-3 { width: 25%; }
	.col-min-2 { width: 16.66%; }
	.col-min-1 { width: 8.33%; }
	.col-min-hidden { display: none; }
	.col-min-visible { display: block; }
}
@include min(767) {
	.col-sm-12 { width: 100%; }
	.col-sm-11 { width: 91.65%; }
	.col-sm-10 { width: 83.33%; }
	.col-sm-9 { width: 75%; }
	.col-sm-8 { width: 66.66%; }
	.col-sm-7 { width: 58.33%; }
	.col-sm-6 { width: 50%; }
	.col-sm-5 { width: 41.66%; }
	.col-sm-4 { width: 33.33%; }
	.col-sm-3 { width: 25%; }
	.col-sm-2 { width: 16.66%; }
	.col-sm-1 { width: 8.33%; }
	.col-sm-hidden { display: none; }
	.col-sm-visible { display: block; }
}
@include min(1025) {
	.col-md-12 { width: 100%; }
	.col-md-11 { width: 91.65%; }
	.col-md-10 { width: 83.33%; }
	.col-md-9 { width: 75%; }
	.col-md-8 { width: 66.66%; }
	.col-md-7 { width: 58.33%; }
	.col-md-6 { width: 50%; }
	.col-md-5 { width: 41.66%; }
	.col-md-4 { width: 33.33%; }
	.col-md-3 { width: 25%; }
	.col-md-2 { width: 16.66%; }
	.col-md-1 { width: 8.33%; }
	.col-md-hidden { display: none; }
	.col-md-visible { display: block; }
}
@include min(1500) {
	.col-lg-12 { width: 100%; }
	.col-lg-11 { width: 91.65%; }
	.col-lg-10 { width: 83.33%; }
	.col-lg-9 { width: 75%; }
	.col-lg-8 { width: 66.66%; }
	.col-lg-7 { width: 58.33%; }
	.col-lg-6 { width: 50%; }
	.col-lg-5 { width: 41.66%; }
	.col-lg-4 { width: 33.33%; }
	.col-lg-3 { width: 25%; }
	.col-lg-2 { width: 16.66%; }
	.col-lg-1 { width: 8.33%; }
	.col-lg-hidden { display: none; }
	.col-lg-visible { display: block; }
}
/* ----------------------------------------------------------------// Columns */