@import '../utils/_mixins';
@import '../utils/_variables';

body {
	background: $base-bg;
	min-width: $min-width;
	color: $text_color_1;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-family: 'Proxima Nova', sans-serif;
	@include max(1025) {
		font-size: 14px;
	}
}
/* ----------------------------------------------------------------------------- Reset */
*, body, html { margin: 0; padding: 0; }
img { border: none; }
*:focus { outline: none; }
a, button, input, select, textarea { color: inherit; text-decoration: inherit; font-family: inherit; box-sizing: border-box; border: none; }
ol, ul { list-style: none; }
article, aside, figcaption, figure, footer, header, hgroup, nav, section, time { display: block; }
table, tr, td, th, thead {border-collapse: collapse;}
input[type="button"],
input[type="submit"],
button {
	cursor: pointer
}
a, button, input, textarea {
    @include transition($default-transition);
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	color: $link-color;
	text-decoration: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after,
.wrapper:after,
.row:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    font-size: toem(46);
    line-height: 140%;
}
h2 {
    font-size: toem(40);
    line-height: toem(49,40);
}
h3 {
    font-size: toem(34);
    line-height: 142%;
}
h4 {
    font-size: toem(29);
    line-height: 150%;
}
h5 {
    font-size: toem(25);
    line-height: 150%;
}
h6 {
    font-size: toem(21);
    line-height: 150%;
}
p {
    font-size: toem(17);
    line-height: 156%;
    letter-spacing: 0.02em;
}
ul:not(.slick-dots) {
    font-size: toem(19);
    line-height: 140%;
    letter-spacing: 0.02em;
    color: $green;
    list-style-type: disc;
    margin-left: toem(20,19);
    li:not(:last-child) {
        margin-bottom: toem(15,19);
    }
}
ol { counter-reset: item; }
ol li { 
    display: flex;
    font-size: toem(17);
    line-height: 156%;
    letter-spacing: 0.02em;
    li:not(:last-child) {
        margin-bottom: toem(20,17);
    }
}
ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: $green;
    margin-right: toem(6,17);
    width: toem(32,17);
    display: block;
}
/* ---------------------------------------------------------------------------// Reset */