
//main styles

.main-wrapper {
	min-width: $min-width;
    width: 100%;
	position: relative;
	min-height:100vh;
}

.main {
	position: relative;
	margin: 0 auto;
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 toem(75) 0 toem(75);
    &_w1170 {
        max-width: 1170px;
        margin: 0 auto;
    }
    &_w970 {
        max-width: 1000px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@include max(1200) {
    .main {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.table {
	width: 100%;
	display: table;
	.cell {
		display: table-cell;
		vertical-align: middle;
	}
}

.table__cell {
	display: table-cell;
	vertical-align: middle;
}

.title {
    font-size: toem(46);
    line-height: 140%;
}

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/

.about {
    padding: toem(160) 0 toem(160) 0;
    text-align: center;
    position: relative;
    &__logo {
        display: block;
        margin: 0 auto;
    }
    &__title {
        display: block;
        max-width: 100%;
        margin: toem(40) auto toem(50) auto;
    }
    &__desc {
        font-size: toem(34);
        line-height: 142%;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: toem(90);
    }
    &__item {
        height: toem(590);
        text-align: center;
        overflow: hidden;
        display: flex;
        align-items: center;
        position: relative;
        width: 33.33%;
        padding: toem(30);
        &_green {
            background: $green;
        }
    }
    &__content {
        width: 100%;
    }
    &__icon {
        display: block;
        margin: 0 auto toem(50) auto;
    }
    &__title1 {
        font-weight: bold;
        font-size: toem(13);
        line-height: 159%;
        letter-spacing: 0.14em;
        text-transform: uppercase;
    }
    &__title2 {
        font-weight: bold;
        font-size: toem(13);
        margin-top: toem(50,13);
        line-height: 159%;
        letter-spacing: 0.14em;
        text-transform: uppercase;
    }
    &__text {
        color: $text_color_3;
        font-size: toem(15);
        line-height: 156%;
        letter-spacing: 0.02em;
        margin-top: toem(40,15);
        &_white {
            color: #fff;
            margin-top: 0;
            letter-spacing: 0.065em;
            font-size: toem(16);
            line-height: 143.8%;
            text-transform: uppercase;
        }
    }
    &__pic {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.servises {
    padding-bottom: toem(160);
    &__title {
        text-align: center;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        max-width: 1174px;
        padding-right: 4px;
        margin-left: auto;
        margin-right: auto;
    }
    &__item {
        width: 50%;
        padding-left: 4px;
        &_big {
            width: 100%;
        }
        &:hover {
            .servises__thumb img {
                transform: scale(1.2);
            }
            .servises__link {
                &-icon {
                     transform: translateX(0.5em);
                }
            }
            .servises__link {
                &-text {
                    color: $green;
                }
            }
        }
    }
    &__thumb {
        overflow: hidden;
        display: block;
        img {
            display: block;
            width: 100%;
            @include transition(0.7);
        }
    }
    &__link {
        display: flex;
        min-height: toem(71);
        padding: toem(15) toem(32) toem(15) toem(32);
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #EEEEEE;
        &-text {
            letter-spacing: 0.12em;
            text-transform: uppercase;
            font-weight: 600;
            color: $text_color_1;
            @include transition(0.5);
        }
        &-icon {
             @include transition(0.5);
            svg {
                width: toem(15);
                * {
                    stroke: $green;
                    stroke-width: 3;
                }
            }
        }
    }
}

.slider {
    &__wrap {
        margin-left: -2px;
        margin-right: -2px;
        position: relative;
    }
    .slick-dots {
        position: absolute;
        right: toem(30);
        top: 50%;
        z-index: 20;
        li {
            margin-top: toem(26);
            height: 1px;
            width: toem(26);
            text-align: right;
            button {
                font-size: toem(16);
                width: toem(13);
                height: 1px;
                background: $text_color_1;
                overflow: hidden;
                text-indent: 100px;
                position: relative;
            }
            &.slick-active {
                button {
                    width: 100%;
                }
            }
        }
    }
    .slick-arrow {
        width: toem(66);
        height: toem(71);
        font-size: toem(17);
        top: 0;
        right: 2px;
        position: absolute;
        z-index: 25;
        background: $add_gray_3;
        svg {
            width: 10px;
            height: 20px;
            * {
                stroke: #3D3C42;
                @include transition($default-transition);
            }
        }
    }
    .slick-prev {
        margin-top: toem(71);
    }
    .slick-next {
        background: $green;
        svg {
            * {
                stroke: #fff;
            }
        }
    }
}

.slide {
    &__row {
        display: flex;
    }
    &__left, &__right {
        width: 50%;
    }
    &__left {
        display: flex;
        flex-wrap: wrap;
    }
    &.slick-active {
        .slide__animate {
            opacity: 1;
            transform: translateY(0);
        }
    }
    &__item {
        background: $tepliy_seriy;
        margin: 0 2px 4px 2px;
        text-align: center;
        padding: toem(16) toem(21) toem(21) toem(21);
        @include transition(0.5);
        &_w33 {
            width: calc( 33.33% - 4px );
        }
        &_w66 {
            width: calc( 66.66% - 4px );
        }
        &_big {
            padding-top: toem(35);
            position: relative;
        }
    }
    &__img {
        display: block;
        opacity: 0;
        transform: translateY(-50px);
        @include transition(1);
        background: $tepliy_seriy;
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            mix-blend-mode: darken;
        }
    }
    &__info {
        opacity: 0;
        transform: translateY(30px);
        @include transition(0.5);
        &_right {
            position: absolute;
            right: toem(33);
            bottom: toem(33);
            text-align: right;
            opacity: 0;
            transform: translateY(30px);
            @include transition(0.5);
        }
    }
    &__title {
        font-size: toem(15);
        letter-spacing: 0.02em;
        line-height: 156%;
        &_right {
            font-size: toem(29);
            line-height: 136%;
        }
    }
    &__desc {
        font-size: toem(15);
        letter-spacing: 0.02em;
        line-height: 156%;
        color: $text_color_3;
        &_right {
            font-size: toem(17);
            color: $text_color_3;
        }
    }
    &__price {
        font-size: toem(17);
        letter-spacing: 0.02em;
        line-height: 156%;
        &_left {
            position: absolute;
            left: toem(34,25);
            bottom: toem(26,25);
            font-size: toem(25);
            line-height: 150%;
            opacity: 0;
            transform: translateY(30px);
            @include transition(0.5);
        }
    }
    &__top {
        font-size: toem(34);
        margin-bottom: toem(20,34);
        line-height: 142%;
        opacity: 0;
        transform: translateY(-30px);
        @include transition(0.5);
    }
}

.online {
    padding-bottom: toem(200);
    &__wrap {
        max-width: toem(950);
        margin: 0 auto;
    }
    &__head {
        text-align: center;
    }
    &__img {
        max-width: 100%;
        display: block;
        margin: toem(44) auto 0 auto;
    }
    &__desc {
        font-size: toem(32);
        line-height: 130%;
        margin: toem(50,32) auto 0 auto;
    }
    .online-form {
        margin-top: toem(90);
    }
}

.online-form {
    max-width: toem(970);
    margin-left: auto;
    margin-right: auto;
    margin-top: toem(90);
    &__center {
        max-width: toem(470);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: toem(50);
        h3 {
            margin-bottom: toem(40,34);
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        width: toem(380);
    }
    &__right {
        width: toem(470);
        padding-top: toem(15);
        h3 {
            text-align: center;
            margin-bottom: toem(35,34);
        }
    }
    &__time {
        text-align: center;
        font-size: toem(56);
        line-height: 140%;
    }
    &__mins {
        text-align: center;
        font-size: toem(40);
        line-height: 1;
    }
    &__line {
        width: toem(42);
        height: 1px;
        background: $green;
        margin: toem(30) auto 0 auto;
    }
    &__desc {
        font-size: toem(15);
        line-height: 156%;
        margin-top: toem(35,15);
        margin-bottom: toem(45,15);
        a {
            text-decoration: underline;
        }
        p:not(:last-child) {
            margin-bottom: toem(25,15);
        }
    }
    .btn_brend {
        width: toem(249,14);
    }
}

.form {
    &__foto {
        &-item {
            display: flex;
            justify-content: space-between;
            margin-top: toem(15);
        }
        &-info {
            display: flex;
            align-items: center;
        }
        &-img {
            width: toem(35);
            min-width: toem(35);
            margin-right: toem(15);
            img {
                display: block;
                width: 100%;
            }
        }
        &-text {
            color: $text_color_3;
            font-size: toem(14);
        }
        &-delete {
            color: indianred;
            font-size: toem(14);
        }
    }
    &__title {
        text-align: center;
    }
    &__input {
        width: 100%;
        display: block;
        font-size: toem(15);
line-height: 156%;
        letter-spacing: 0.02em;
        margin-bottom: toem(30,15);
        height: toem(50,15);
        border-bottom: 1px solid $tepliy_seriy;
        padding-left: toem(33,15);
        background-position: left;
        background-repeat: no-repeat;
        background-size: toem(15,15);
        &_name {
            background-image: url(../images/icons/profile.svg);
        }
        &_phone {
            background-image: url(../images/icons/phone.svg);
        }
        &:focus {
            border-bottom: 1px solid $text_color_1;
        }
        @include placeholder {
            color: $text_color_1;
        }
        &.error {
            border-bottom: 1px solid red;
        }
    }
    &__textarea {
        border: 1px solid $tepliy_seriy;
        display: block;
        width: 100%;
        font-size: toem(15);
        line-height: 156%;
        height: toem(147,15);
        padding: toem(15,15) toem(20,15) toem(15,15) toem(33,15);
        resize: none;
        @include placeholder {
            color: $text_color_1;
        }
        &:focus {
            border: 1px solid $text_color_1;
        }
    }
    &__btn {
        text-transform: uppercase;
        width: 100%;
        margin-top: toem(30,14);
    }
    &__polity {
        font-size: toem(12);
        line-height: 143%;
        color: $text_color_3;
        margin-top: toem(20,12);
        a {
            color: inherit;
            text-decoration: underline;
        }
    }
    &__add-foto {
        margin-top: toem(26);
    }
}

.add-foto {
    display: flex;
    align-items: center;
    position: relative;
    &__text {
        font-size: toem(17);
        letter-spacing: 0.02em;
    }
    &__btn {
        width: toem(28);
        margin-right: toem(15);
    }
    &__input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

.blog {
    &-main {
        &_single {
            margin-top: toem(160);
        }
        &__head {
            text-align: center;
        }
        &__desc {
            text-transform: uppercase;
            font-size: toem(16);
            letter-spacing: 0.12em;
            line-height: 175%;
            font-weight: 600;
            margin-top: toem(5);
        }
        &__bottom {
            justify-content: center;
            margin-top: toem(64);
            display: flex;
        }
        &__btn {
            width: 100%;
            max-width: toem(370,14);
        }
    }
}

.page {
    margin-top: toem(30);
    &__head {
        text-align: center;
    }
    &__desc {
        text-transform: uppercase;
        font-size: toem(16);
        letter-spacing: 0.12em;
        line-height: 175%;
        font-weight: 600;
        margin-top: toem(5);
    }
    &__desc2 {
        font-size: toem(17);
        line-height: 156%;
        letter-spacing: 0.02em;
        color: $text_color_3;
        margin-top: toem(20,17);
    }
}

.post-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: toem(-34);
    &__item {
        display: block;
        width: calc( 25% - 2.125em );
        margin-left: toem(34);
        margin-top: toem(52);
        color: $text_color_1;
        min-height: toem(550);
        padding-bottom: toem(47);
        border-bottom: 1px solid $tepliy_seriy;
        position: relative;
        &:hover {
            .post-list__thumb img {
                transform: scale(1.2);
            }
            .post-list__arrow {
                transform: translateX(-5px);
            }
        }
    }
    &__thumb {
        overflow: hidden;
        display: block;
        img {
            display: block;
            width: 100%;
            @include transition(0.5);
        }
    }
    &__title {
        display: block;
        font-size: toem(21);
        margin-top: toem(29,21);
        line-height: 150%;
    }
    &__desc {
        font-size: toem(15);
        line-height: 156%;
        letter-spacing: 0.02em;
        color: $text_color_3;
        margin-top: toem(5,15);
        display: block;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: toem(30);
        position: absolute;
        left: 0;
        bottom: toem(17);
        width: 100%;
    }
    &__date {
        font-size: toem(15);
        line-height: 156%;
        letter-spacing: 0.02em;
        color: $text_color_3;
    }
    &__arrow {
        @include transition(0.5);
        svg {
            width: toem(13);
            height: toem(13);
            * {
                stroke-width: 3;
            }
        }
    }
}

.search-form {
    margin-top: toem(160);
    &__wrap {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 100px;
        position: relative;
    }
    &__btn {
        padding: 0;
        width: toem(68);
        font-size: toem(16);
        height: toem(68);
        width: toem(68);
        min-width: toem(68);
        svg {
            @include transition($default-transition);
        }
        &:hover {
            svg {
                transform: scale(0.8);
            }
        }
    }
    &__input {
        font-size: toem(25);
        padding-left: toem(30,25);
        border-bottom: 1px solid $tepliy_seriy;
        height: toem(68,25);
        width: 100%;
        &:focus {
            border-bottom: 1px solid $text_color_1;
        }
        @include placeholder {
            color: $add_gray_1;
        }
    }
    &__arrow {
        width: toem(19);
        height: toem(19);
        background: transparent;
        position: absolute;
        right: 0;
        font-size: toem(16);
        top: toem(20);
    }
}

.single {
    &__date {
        width: toem(165,15);
        height: toem(50,15);
        font-size: toem(15);
        letter-spacing: 0.02em;
        border: 1px solid $tepliy_seriy;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: toem(17,15) auto toem(17,15) auto;
    }
    &__desc {
        text-align: center;
    }
    &__preview {
        margin-top: toem(35);
        img {
            display: block;
            width: 100%;
        }
    }
    &__content {
        margin-top: toem(100);
        max-width: toem(770);
        margin-left: auto;
        margin-right: auto;
        p:not(:last-child) {
            margin-bottom: toem(60);
        }
        img {
            display: block;
            max-width: 100%;
        }
        h5 {
            margin-bottom: 3px;
        }
    }
}

.custom-preview {
    margin-top: toem(40);
    &__img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}

.custom-video {
    text-align: center;
    margin-top: toem(160);
    iframe {
        display: block;
        margin: toem(35) auto 0 auto;
        width: 100%;
        max-width: toem(960);
        height: toem(460);
    }
}

.custom-desc {
    font-size: toem(32);
    line-height: 130%;
    text-align: center;
    margin-top: toem(60,32);
}

.custom-desc2 {
    text-align: center;
    margin-top: toem(35,17);
}

.custom-quote {
    margin-top: toem(160);
    padding: toem(45) toem(100) toem(45) toem(100);
    border: 1px solid #F1F0EE;
    &__content {
        font-size: toem(19);
        line-height: 170%;
    }
}

.custom-list {
    text-align: center;
    padding-top: toem(30);
    &__item {
        margin-top: toem(40);
    }
    &__icon {
        background: $tepliy_seriy;
        width: toem(81);
        height: toem(81);
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 0 auto;
    }
    &__title {
        font-size: toem(17);
        letter-spacing: 0.02em;
        line-height: 156%;
        margin-top: toem(12,17);
    }
    &__desc {
        font-size: toem(14);
        line-height: 143%;
        letter-spacing: 0.02em;
        color: $text_color_3;
        margin-top: toem(5,14);
    }
    &_min {
        .custom-list__title {
            font-size: toem(15);
            line-height: 139%;
        }
        .custom-list__icon {
            background: none;
            width: toem(30);
            height: toem(30);
        }
    }
}

.share {
    text-align: center;
    margin-top: toem(80);
    padding: toem(70) toem(30) toem(60) toem(30);
    border: 1px solid $tepliy_seriy;
    &__amount {
        font-size: toem(88);
        font-weight: 100;
        line-height: 88.5%;
        margin-top: toem(30,88);
    }
    &__rub {
        font-size: toem(46);
        font-weight: 300;
        margin-top: toem(5,46);
        margin-bottom: toem(30,46);
    }
    h3 {
        margin-bottom: toem(10,34);
    }
    &__btn {
        max-width: toem(320,14);
        width: 100%;
        margin: toem(44,14) auto 0 auto;
    }
}

.custom-content {
    margin-bottom: toem(160);
    margin-top: toem(105);
    &__bg {
        max-width: toem(1770);
        margin: 0 auto;
        position: relative;
        height: toem(420);
        overflow: hidden;
        img {
            display: block;
            position: absolute;
            left: 50%;
            top: 0;
            width: toem(1770);
            margin-left: toem(-1770/2);
        }
    }
    &__head {
        text-align: center;
        padding: toem(65) toem(30) toem(55) toem(30);
        border: 1px solid $tepliy_seriy;
        margin-top: toem(-210);
        position: relative;
        background: #fff;
        &-title {
            margin-bottom: toem(25,40);
        }
        &-desc {
            font-size: toem(15);
            line-height: 156%;
            letter-spacing: 0.02em;
        }
        &-line {
            width: toem(50);
            height: 1px;
            background: $green;
            margin: toem(45) auto 0 auto;
        }
    }
    &__info {
        max-width: toem(769);
        margin: toem(50) auto 0 auto;
        p:not(:last-child), ul:not(:last-child) {
            margin-bottom: toem(25,17);
        }
    }
}

.reviews {
    margin-top: toem(160);
    &__slider {
        margin-top: toem(40);
        position: relative;
        .owl-stage-outer {
            border-right: 1px solid $tepliy_seriy;
        }
    }
    &__slide {
        border: 1px solid $tepliy_seriy;
        border-right: 0;
        padding: toem(55) toem(60) toem(60) toem(100);
        position: relative;
    }
    &__head {
        position: relative;
    }
    &__icon {
        position: absolute;
        top: toem(3);
        left: toem(-55);
        svg {
            path {
                fill: $text_color_1;
            }
        }
    }
    &__title {
        font-size: toem(23);
    }
    &__desc {
        margin-top: toem(10,15);
        font-size: toem(15);
        line-height: 156%;
        letter-spacing: 0.02em;
    }
    .owl-prev, .owl-next {
        width: toem(46);
        height: toem(46);
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: toem(-94);
        overflow: hidden;
        text-indent: 100px;
    }
    .owl-prev {
        margin-right: toem(46);
        background-color: $tepliy_seriy;
        background-image: url(../images/icons/arrow_left.svg);
    }
    .owl-next {
        background-color: $green;
        background-image: url(../images/icons/arrow_right.svg);
    }
    .owl-dots {
        display: flex;
        justify-content: center;
        margin-top: toem(36);
    }
    .owl-dot {
        width: toem(22);
        height: toem(22);
        background-color: $tepliy_seriy;
        @include transition($default-transition);
        margin: 0 toem(11) 0 toem(11);
        &.active {
            background-color: $green;
        }
    }
}

.dropdown {
    &__item {
        border: 1px solid $tepliy_seriy;
        margin-bottom: -1px;
        &.active {
            .dropdown__icon {
                transform: rotate(180deg);
            }
        }
    }
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: toem(34) toem(40) toem(34) toem(40);
    }
    &__title {
        font-size: toem(21);
        line-height: toem(26,21);
        color: $green;
    }
    &__icon {
        @include transition($default-transition);
        svg {
            width: 18px;
            height: 9px;
            path {
                stroke: $green;
                stroke-width: 1.5;
            }
        }
    }
    &__content {
        font-size: toem(15);
        line-height: 156%;
        letter-spacing: 0.02em;
        color: rgba(35, 34, 38, 0.8);
        display: none;
        padding: 0 toem(40) toem(34) toem(40);
        p {
            &:not(:last-child) {
                margin-bottom: toem(20,15);
            }
        }
    }
}

.contact {
    &__tabs {
        display: flex;
        justify-content: center;
        margin-top: toem(70);
        border-bottom: 1px solid $tepliy_seriy;
        &-item {
            font-size: toem(29);
            line-height: 150%;
            color: rgba(35, 34, 38, 0.5);
            padding: 0 toem(5,29) toem(7,29) toem(5,29);
            margin: 0 toem(15,29) 0 toem(15,29);
            margin-bottom: -1px;
            &:hover {
                color: $text_color_1;
            }
            &.active {
                border-bottom: 1px solid $green;
                color: $text_color_1;
            }
        }
    }
    &__col {
        margin-top: toem(65);
        font-size: 18px;
    }
    &__title {
        font-size: toem(15);
        line-height: 156%;
    }
    &__phone-number {
        font-size: toem(29);
        line-height: 150%;
    }
    &__phone-icon {
        margin-right: toem(12);
        cursor: pointer;
    }
    &__phone2 {
        font-size: toem(19);
        color: $text_color_1;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &-right {
            display: flex;
            align-items: center;
            margin-bottom: toem(4);
        }
    }
    &__time {
        font-size: toem(17);
        line-height: 156%;
        letter-spacing: 0.02em;
        margin-top: toem(5,17);
    }
    &__desc {
        font-size: toem(12);
        line-height: 143%;
        letter-spacing: 0.02em;
        margin-top: toem(5,12)
    }
    &__adress {
        margin-top: toem(70,40);
        text-align: center;
    }
    &__map {
        height: toem(516);
        margin-top: toem(25);
        margin-left: toem(-75);
        margin-right: toem(-75);
    }
    &__item:not(:first-child) {
        display: none;
    }
}

.catalog {
    position: relative;
    padding-top: toem(60);
    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.4;
        z-index: 250;
        display: none;
    }
    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 358px;
        background: linear-gradient(180deg, #F1F0EE 0%, rgba(241, 240, 238, 0) 100%);
    }
    &__title {
        text-align: center;
    }
    &__more {
        width: toem(252,14);
        display: block;
        margin: toem(60,14) auto 0 auto;
    }
    &__pagin {
        display: flex;
        margin-top: toem(60);
        justify-content: center;
    }
    &__link {
        font-size: toem(26);
        letter-spacing: 0.02em;
        line-height: 1;
        color: $text_color_3;
        opacity: 0.7;
        margin: 0 toem(20,26) 0 toem(20,26);
        &.active, &:hover {
            color: $text_color_1;
            opacity: 1;
        }
    }
}

.filter {
    display: flex;
    margin-top: toem(39);
    &__col {
        width: 165/1194*100%;
        background: #fff;
        position: relative;
        &.active {
            z-index: 251;
            .filter__head {
                border-bottom: 1px solid $tepliy_seriy;
            }
            .filter__list {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
        &:not(:last-child) {
            border-right: 1px solid $tepliy_seriy;
        }
        &_big {
            width: 198/1194*100%;
        }
        &_min {
            width: 140/1194*100%;
        }
    }
    &__title {
        font-size: 13px;
        line-height: 156%;
    }
    &__list {
        position: absolute;
        left: 0;
        padding: toem(22) toem(15) toem(22) toem(28);
        top: 100%;
        width: calc( 100% + 1px );
        background: linear-gradient(54.74deg, #F1F0EE 14.01%, #FFFFFF 84.75%);
box-shadow: 2px 2px 22px rgba(74, 74, 74, 0.4);
border-radius: 0px 0px 4px 4px;
        @include transition($default-transition);
        visibility: hidden;
        opacity: 0;
        transform: translateY(-5px);
    }
    &__head {
        z-index: 2;
        background: #fff;
        height: toem(59);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: toem(15) toem(20) toem(15) toem(18);
    }
    &__item {
        display: flex;
        letter-spacing: 0.02em;
        font-size: 13px;
        color: $text_color_3;
        &:before {
            content: '•';
            font-size: 21px;
            top: -6px;
            display: block;
            position: relative;
            margin-right: -8px;
            @include transition($default-transition);
            visibility: hidden;
            opacity: 0;
        }
        &:not(:last-child) {
            margin-bottom: 7px;
        }
        &:hover {
            color: $green;
            &:before {
                margin-right: 5px;
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__checkbox {
        display: none;
        &:checked + .filter__checkbox-icon {
            opacity: 1;
        }
        &-icon {
            content: '';
            display: block;
            position: absolute;
            left: 3px;
            top: -2px;
            background: url(../images/icons/check_icon.svg) 0 0 no-repeat;
            width: 18px;
            height: 14px;
            @include transition($default-transition);
            opacity: 0;
        }
    }
    &__label {
        display: flex;
        position: relative;
        cursor: pointer;
        &:before {
            content: '';
            display: block;
            width: 17px;
            height: 17px;
            background: #E0DDD8;
            border-radius: 2px;
            margin-right: 12px;
        }
    }
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: toem(50);
    border-top: 1px solid #E4E4E4;
    border-left: 1px solid #E4E4E4;
    &__item {
        border-bottom: 1px solid #E4E4E4;
        border-right: 1px solid #E4E4E4;
        width: 20%;
        padding: toem(40) toem(37) toem(33) toem(37);
        text-align: center;
        color: $text_color_1;
        background: rgba(241, 240, 238, 0.2);
        &:hover {
            .catalog-list__img {
                transform: scale(1.1);
            }
        }
    }
    &__img {
        display: block;
        @include transition($default-transition);
        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
    }
    &__title {
        font-size: toem(19);
        line-height: 156%;
        display: block;
        margin-top: toem(35,19);
        letter-spacing: 0.02em;
    }
    &__desc {
        font-size: 12px;
        line-height: 143%;
        color: $text_color_3;
        letter-spacing: 0.02em;
        display: block;
    }
    &__price {
        font-size: toem(17);
        line-height: 156%;
        letter-spacing: 0.02em;
    }
}

.cart {
    padding: toem(105) 0 toem(105) 0;
    background: rgba(241, 240, 238, 0.4);
    box-shadow: inset 0px 0px 22px rgba(185, 185, 185, 0.25);
    &__tabs {
        display: flex;
        justify-content: center;
        margin-top: toem(120);
        border-bottom: 1px solid $tepliy_seriy;
        &-item {
            font-size: toem(25);
            line-height: 150%;
            color: rgba(35, 34, 38, 0.5);
            padding: 0 toem(5,25) toem(7,25) toem(5,25);
            margin: 0 toem(15,25) 0 toem(15,25);
            margin-bottom: -1px;
            &:hover {
                color: $text_color_1;
            }
            &.active {
                border-bottom: 1px solid $green;
                color: $text_color_1;
            }
        }
    }
    &__logo {
        text-align: center;
        font-size: toem(180);
        line-height: 1;
        position: absolute;
        bottom: toem(-70,180);
        left: 0;
        width: 100%;
        text-align: center;
        color: rgba(240, 240, 240, 0.6);
        font-weight: 100;
    }
    &__row {
        display: flex;
        position: relative;
    }
    &__gallery-min {
        width: toem(110);
        min-width: toem(110);
        position: relative;
        .slide {
            @include transition($default-transition);
            border: 1px solid rgba(83, 89, 96, 0.16) !important;
            margin-bottom: toem(54);
            height: toem(110) !important;
            display: flex !important;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &.slick-current {
                border: 1px solid $green !important;
            }
            img {
                display: block;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    &__gallery-big {
        width: (1170-500-110)/1170*100%;
        position: relative;
        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
    }
    &__info {
        width: 499/1170*100%;
        padding: toem(55) toem(30) toem(55) toem(30);
        border: 1px solid rgba(83, 89, 96, 0.16);
        text-align: center;
        position: relative;
        background: #F9F9F8;
    }
    &__status {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.12em;
    }
    &__line {
        width: 24px;
        height: 1px;
        background: #C4C4C4;
        margin: 8px auto 0 auto;
    }
    &__name {
        font-size: toem(28);
        line-height: toem(34,28);
        margin-top: toem(45,28);
        letter-spacing: 0.08em;
        font-weight: 600;
        text-transform: uppercase;
    }
    &__desc {
        font-size: toem(17);
        line-height: 136%;
        color: rgba(35, 34, 38, 0.8);
        margin-top: toem(8,17);
    }
    &__price {
        font-size: toem(49);
        line-height: toem(60,49);
        margin-top: toem(35,49);
        &-min {
            font-size: 12px;
            margin-top: toem(12,12);
            letter-spacing: 0.02em;
        }
        &-sep {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    &__btn {
        width: 100%;
        max-width: toem(270,14);
        margin-top: toem(30,14);
    }
    &__icon {
        position: absolute;
        right: toem(26);
        top: toem(24);
    }
}

.cart-options {
    margin-top: toem(45);
}

.cart-option {
    &:not(:first-child) {
        display: none;
    }
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__col {
        width: 440/970*100%;
    }
    &__section {
        display: flex;
        justify-content: space-between;
        font-size: toem(14);
        line-height: 158.5%;
        letter-spacing: 0.02em;
    }
    &__left {
        color: rgba(83, 89, 96, 0.5);
    }
    p {
        &:not(:last-child) {
            margin-bottom: toem(20,17);
        }
    }
}

.cart-delivery {
    margin-top: toem(80);
    text-align: center;
    padding: toem(50) toem(30) toem(50) toem(30);
    border: 1px solid rgba(83, 89, 96, 0.16);
    &__title {
        letter-spacing: 0.12em;
        text-transform: uppercase;
        font-weight: 600;
    }
    &__desc {
        font-size: toem(15);
        line-height: 156%;
        letter-spacing: 0.02em;
        margin-top: toem(15,15);
    }
}

.similar-products {
    margin-top: toem(150);
    &__slider {
        margin-top: toem(40);
        .owl-stage-outer {
            border-left: 1px solid #E4E4E4;
            border-top: 1px solid #E4E4E4;
            border-right: 1px solid #E4E4E4;
        }
        .catalog-list__item {
            width: auto;
            display: block;
        }
        .owl-prev, .owl-next {
            width: toem(46);
            height: toem(46);
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            top: toem(-94);
            overflow: hidden;
            text-indent: 100px;
        }
        .owl-prev {
            margin-right: toem(46);
            background-color: $tepliy_seriy;
            background-image: url(../images/icons/arrow_left.svg);
        }
        .owl-next {
            background-color: $green;
            background-image: url(../images/icons/arrow_right.svg);
        }
        .owl-dots {
            display: flex;
            justify-content: center;
            margin-top: toem(36);
        }
        .owl-dot {
            width: toem(22);
            height: toem(22);
            background-color: $tepliy_seriy;
            @include transition($default-transition);
            margin: 0 toem(11) 0 toem(11);
            &.active {
                background-color: $green;
            }
        }
    }
    .owl-carousel .owl-nav.disabled {
            display: block !important;
        }
    .owl-carousel .owl-dots.disabled {
        display: flex;
            justify-content: center;
    }
    .owl-carousel .owl-item img {
        max-width: toem(320);
    }
}

.favorite {
    padding-top: toem(30);
    &__head {
        display: flex;
        align-items: center;
        &-icon {
            width: toem(19);
            margin-right: toem(32);
            svg {
                width: 100%;
                height: auto;
                * {
                    fill: $green;
                    fill-opacity: 1;
                }
            }
        }
    }
    &__bottom {
        display: flex;
        justify-content: center;
        margin-top: toem(60);
        .btn {
            width: toem(250,12);
            font-size: toem(12);
            height: toem(62,12);
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}

.favorite-list {
    margin-top: toem(42);
    &__item:not(:last-child) {
        margin-bottom: toem(24);
    }
    &__item {
        display: flex;
        padding: toem(20);
        background: rgba(241, 240, 238, 0.4);
        align-items: center;
    }
    &__preview {
        width: toem(132);
        min-width: toem(132);
        height: toem(132);
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: toem(66);
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }
    &__info {
        width: toem(350);
        margin-right: toem(20);
    }
    &__status {
        letter-spacing: 0.12em;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        line-height: 175%;
    }
    &__title {
        font-size: toem(22);
        line-height: toem(27,22);
        font-weight: 600;
        letter-spacing: 0.08em;
        margin-top: toem(9,22);
    }
    &__desc {
        font-size: toem(15);
        line-height: 136%;
        color: rgba(35, 34, 38, 0.8);
        margin-top: toem(10,15);
    }
    &__price {
        width: toem(265);
        &_big {
            font-size: toem(28);
            line-height: toem(34,28);
            margin-bottom: 1px;
        }
        &_min {
            font-size: 12px;
            letter-spacing: 0.02em;
            line-height: 143%;
            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }
    }
    &__btn {
        width: 154px;
        height: 38px;
        font-size: 12px;
        background: none;
        border: 1px solid rgba(83, 89, 96, 0.16);
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        &:hover {
            background: rgba(83, 89, 96, 0.16);
        }
    }
    &__close {
        width: 28px;
        height: 28px;
        background: rgba(35, 34, 38, 0.01) url(../images/icons/delete.svg) center no-repeat;
        border-radius: 100%;
    }
    &__right {
        width: toem(130);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@include max(1441) {
    .about {
        &__item {
            height: toem(400);
        }
    }
    .slide {
        &__left {
            width: toem(252);
            min-width: toem(252);
            .slide__item:nth-child(2), .slide__item:nth-child(3), .slide__item:nth-child(4) {
                display: none;
            }
        }
        &__right {
            width: 100%;
        }
        &__item {
            width: 100%;
        }
    }
    .post-list {
        margin-left: toem(-30);
        &__item {
            width: calc( 33.33% - 1.875em );
            margin-left: toem(30);
            min-height: toem(489);
        }
    }
    .blog {
        &-main {
            .post-list__item:last-child {
                display: none;
            }
        }
    }
    .contact__col {
        font-size: 16px;
    }
    .catalog-list {
        &__item {
            width: 25%;
        }
    }
    .similar-products {
        &__slider {
            .catalog-list__item {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

@include max(1200) {
    .contact {
        &__map {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}

@include max(1025) {
    .custom-desc, .custom-desc2 {
        br {
            display: none;
        }
    }
    .contact {
        &__col {
            font-size: 14px;
        }
        &__desc {
            font-size: 12px;
        }
        &__box-right {
            display: none;
        }
    }
    .catalog-list {
        &__item {
            width: 33.33%;
        }
    }
}

@include max(960) {
    .about, .online {
        &__desc {
            font-size: toem(20);
        }
    }
    .about {
        padding-top: 100px;
        padding-bottom: 100px;
        &__item {
            width: 50%;
            &:nth-child(1) {
                order: 1;
            }
            &:nth-child(2) {
                order: 2;
            }
            &:nth-child(3) {
                order: 4;
            }
            &:nth-child(4) {
                order: 3;
            }
            &:nth-child(5) {
                order: 5;
            }
            &:nth-child(6) {
                order: 6;
            }
        }
        &__icon {
            margin-bottom: 30px;
        }
        &__title2 {
            margin-top: 30px;
        }
    }
    .online-form {
        &__right {
            width: 340px;
        }
    }
    .servises, .online, .blog-main {
        padding-bottom: 100px;
    }
    .search-form {
        margin-top: 100px;
    }
    .filter {
        flex-wrap: wrap;
        &__col {
            width: 33.33%;
            border-bottom: 1px solid $tepliy_seriy;
        }
    }
    .favorite-list {
        &__right {
            justify-content: flex-end;
        }
    }
}

@include max(769) {
    .reviews {
        &__slide {
            padding: 30px 30px 30px 50px;
        }
        &__icon {
            left: -32px;
        }
    }
    .cart-option {
        &__col {
            width: 48%;
        }
    }
    .similar-products {
        .title {
            text-align: left;
            font-size: 32px;
        }
    }
    .custom-quote {
        padding: 30px;
        margin-top: 100px;
    }
    .online-form {
        &__center {
            padding-top: 0;
        }
    }
}

@include max(479) {
    .slide {
        &__left {
            display: none;
        }
        &__right {
            width: 100%;
        }
        &__item {
            &_big {
                padding-bottom: 80px;
            }
        }
    }
    .slide__price_left {
        left: 20px;
        bottom: 20px;
        font-size: 18px;
    }
    .slide__info_right {
        font-size: 12px;
    }
    .slide__top {
        font-size: 20px;
    }
    .slider {
        .slick-arrow {
            top: 50%;
        }
        .slick-prev {
            left: 2px;
            right: auto;
            margin-top: -33px;
        }
        .slick-next {
            margin-top: -33px;
        }
        .slide__animate {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .about {
        padding-top: 80px;
        padding-bottom: 70px;
        &__desc {
            font-size: 16px;
            br {
                display: none;
            }
        }
        &__list {
            margin-top: 50px;
        }
        &__item {
            width: 100%;
            &:nth-child(1) {
                order: 1;
            }
            &:nth-child(2) {
                order: 2;
            }
            &:nth-child(3) {
                order: 3;
            }
            &:nth-child(4) {
                order: 4;
            }
            &:nth-child(5) {
                order: 5;
            }
            &:nth-child(6) {
                order: 6;
            }
        }
    }
    .servises {
        &__item {
            width: 100%;
            &_big {
                img {
                    width: 180%;
                    margin-left: -40%;
                }
            }
        }
    }
    .online {
        padding-bottom: 80px;
    }
    .online-form {
        &__row {
            flex-wrap: wrap;
        }
        &__left, &__right {
            width: 100%;
        }
        &__right {
            margin-top: 40px;
            h3 {
                text-align: left;
            }
        }
    }
    .online .online-form {
        margin-top: 50px;
    }
    .blog-main {
        .post-list__item {
            display: none;
            &:first-child {
                display: block;
            }
        }
    }
    .post-list__item {
        width: 100%;
    }
    .search-form {
        margin-top: 80px;
    }
    .single {
        &__desc {
            font-size: 24px;
            br {
                display: none;
            }
        }
        &__content {
            margin-top: 40px;
            p:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }
    .blog-main {
        &_single {
            margin-top: 100px;
            padding-bottom: 0;
        }
    }
    .custom-desc {
        font-size: 20px;
    }
    .custom-list {
        &__item {
            width: 50%;
        }
    }
    .share {
        padding-left: 15px;
        padding-right: 15px;
        .desc-text {
            br {
                display: none;
            }
        }
        &__amount {
            font-size: 55px;
        }
    }
    .custom-content {
        margin-bottom: 80px;
    }
    .reviews {
        margin-top: 100px;
        .page__head {
            text-align: left;
        }
        &__slide {
            border-right: 1px solid $tepliy_seriy;
            padding: 30px 30px 30px 50px;
        }
        &__icon {
            left: -32px;
        }
    }
    .title_max {
        font-size: 24px;
    }
    .dropdown {
        &__head {
            padding: 15px 20px 15px 20px;
        }
        &__title {
            font-size: 16px;
        }
        &__content {
            padding: 0 15px 20px 20px;
        }
    }
    .contact {
        &__col {
            margin-top: 30px;
        }
    }
    .contact__tabs {
        margin-top: 40px;
    }
    .filter {
        border-left: 1px solid $tepliy_seriy;
        &__col {
            width: 50%;
            &:last-child {
                border-right: 1px solid $tepliy_seriy;
            }
        }
    }
    .catalog-list {
        &__item {
            width: 50%;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .catalog {
        &__pagin {
            font-size: 12px;
        }
        &__link {
            margin-left: 6px;
            margin-right: 6px;
        }
    }
    .cart {
        &__row {
            flex-wrap: wrap;
        }
        &__gallery {
            &-big {
                width: calc( 100% - 100px) ;
            }
            &-min {
                .slide {
                    margin-bottom: 15px;
                }
            }
        }
        &__info {
            width: 100%;
            margin-top: 40px;
        }
        &__logo {
            display: none;
        }
    }
    .cart-option {
        &__row {
            flex-wrap: wrap;
        }
        &__col {
            width: 100%;
        }
    }
    .cart-delivery {
        br {
            display: none;
        }
    }
    .custom-video {
        margin-top: 100px;
        iframe {
            height: 260px;
        }
    }
    .favorite-list {
        &__item {
            flex-wrap: wrap;
            position: relative;
        }
        &__close {
            position: absolute;
            right: toem(20);
            top: toem(20);
            width: 25px;
            height: 25px;
        }
        &__preview {
            margin-right: 0;
            width: 8em;
            height: 8em;
            min-width: 8em;
        }
        &__info {
            width: calc( 100% - 8em );
            margin-right: 0;
            padding-left: 20px;
        }
        &__price {
            width: 8em;
            margin-top: 15px;
        }
        &__btn {
            margin-left: 20px;
            margin-top: -6px;
        }
    }
}













