
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/

.footer {
    &__wrap {
        padding: toem(100) 0 toem(60) 0;
    }
    &__adress {
        font-size: toem(40);
        line-height: toem(49,40);
    }
    &__open-map {
        width: toem(250,14);
        margin-top: toem(40,14);
    }
    &__menu {
        &_right {
            .footer__menu-item {
                text-align: right;
            }
        }
        &-item {
            display: block;
            letter-spacing: 0.05em;
            font-size: toem(15);
            line-height: toem(18,15);
            text-transform: uppercase;
            color: $text_color_1;
            &:not(:last-child) {
                margin-bottom: toem(25,15);
            }
            &:hover {
                color: $green;
            }
        }
    }
    &__about {
        display: flex;
        justify-content: space-between;
        &-item {
            font-size: toem(21);
            border-bottom: 1px solid $text_color_1;
            color: $text_color_1;
        }
    }
    .subscribe {
        margin-top: toem(82);
    }
    &__label {
        font-size: toem(17);
        line-height: 156%;
        letter-spacing: 0.02em;
    }
    &__contact {
        font-size: toem(34);
        line-height: 142%;
    }
    &__bottom {
        margin-top: toem(110);
    }
    &__develop {
        margin-top: toem(20);
        display: flex;
        justify-content: space-between;
        &-text {
            line-height: toem(19);
            color: $text_color_3;
        }
    }
}

.subscribe {
    margin-top: toem(85);
    position: relative;
    &__input {
        font-size: toem(15);
        height: toem(40,15);
        padding-bottom: toem(3,15);
        border-bottom: 1px solid $tepliy_seriy;
        width: 100%;
        @include placeholder {
            color: $text_color_3;
        }
        &:focus {
            border-bottom: 1px solid $text_color_1;
        }
    }
    &__arrow {
        position: absolute;
        top: toem(8);
        right: toem(22);
        font-size: toem(16);
        background: transparent;
        svg {
            width: toem(13);
            height: toem(13);
            * {
                stroke-width: 3;
            }
        }
    }
}

.modal-menu {
    height: 78vh;
    padding: toem(50) 0 toem(50) 0;
    display: flex;
    align-items: center;
    &__wrap {
        width: 100%;
    }
    &__logo {
        display: block;
        max-width: toem(470);
    }
    &__row {
        padding-top: toem(35);
    }
    &__col {
        margin-top: toem(40);
    }
    &__title {
        font-size: toem(25);
        margin-bottom: toem(10,25);
    }
    &__item {
        font-size: toem(15);
        line-height: 156%;
        letter-spacing: 0.02em;
        display: block;
        color: $text_color_1;
        &:hover {
            text-decoration: underline;
        }
        &:not(:last-child) {
            margin-bottom: toem(10,15);
        }
    }
}

/* Popup */

.popup, .popup__overlay {left:0; top:0; width:100%; height:100%;}
.popup__overlay {
    z-index: 1;
}
.popup {
	z-index:999; 
    display:none;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
	&__overlay {
        background: #000; 
        opacity: 0.4;
        position: absolute;
    }
	&__form {
		@include transition(0.5);
        transform: translateX(100%);
        background: #fff;
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
        height: 100%;
        width: toem(568);
        padding-left: 15px;
        padding-right: 15px;
        &.active {
            transform: translateX(0);
        }
        .btn_close {
            position: absolute;
            right: 0;
            top: 0;
        }
        &-box {
            max-width: toem(368);
            margin: 0 auto;
            .btn {
                margin-top: toem(20);
            }
        }
        &-title {
            text-align: center;
            font-weight: 600;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            margin-bottom: toem(25);
        }
	}
    &_menu {
        background: #fff;
    }
    &__close {
        position: absolute;
        cursor: pointer;
        &_menu {
            right: toem(75);
            top: toem(60);
        }
    }
    &__modal {
		position: relative; 
        z-index: 2; 
        margin: 0 auto 0 auto;
	}
    &__brend {
        background: #fff;
        padding-top: toem(38);
        padding-left: toem(44);
        max-width: toem(1170);
        .btn_close {
            right: 0;
            top: 0;
            position: absolute;
        }
        &-list {
            height: 65vh;
            overflow-x: hidden;
            overflow-y: auto;
            padding-right: 20px;
            &_main {
                padding-left: toem(50);
                padding-right: toem(50);
                height: 53vh;
            }
            &::-webkit-scrollbar-track {
                background-color:none;
            }
            &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 0px;
            border-radius: 0px;
            background-color:$green;
            }
            &::-webkit-scrollbar{
                width: 10px;
            }
        }
        &-letter {
            font-size: toem(32);
            padding-bottom: toem(8,32);
        }
        &-item {
            font-size: 12px;
            line-height: 156%;
            letter-spacing: 0.02em;
            margin-top: 2px;
            a {
                color: $text_color_1;
                &:hover {
                    text-decoration: underline;
                }
                &.active {
                    color: $green;
                }
            }
        }
        &-col {
            margin-bottom: toem(35);
        }
        &-bottom {
            margin-right: toem(44);
            border-top: 1px solid $tepliy_seriy;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: toem(28) 0 toem(28) 0;
            &_end {
                justify-content: flex-end;
            }
        }
    }
    &__brend2 {
        &-title {
            font-size: toem(44);
            line-height: 156%;
            letter-spacing: 0.02em;
            padding-bottom: toem(10,44);
        }
        &-item {
            font-size: toem(15);
            line-height: 156%;
            letter-spacing: 0.02em;
            a {
                color: $text_color_1;
                &:hover {
                    color: $green;
                }
            }
        }
    }
    &__clear {
        display: flex;
        &-icon {
            margin-right: 10px;
        }
        &-text {
            font-size: 12px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: $text_color_1;
            font-weight: 600;
            padding-top: 2px;
        }
    }
    &__show {
        width: toem(158,12);
        height: toem(38,12);
        padding: 0;
        font-size: 12px;
    }
    &__head {
        display: flex;
        justify-content: space-between;
        padding: toem(55) 0 toem(30) 0;
        align-items: center;
        &-line {
            width: 100%;
            height: 1px;
            background: $add_gray_3;
            margin-top: 1px;
        }
        .header-bottom__stock {
            margin-left: toem(25);
        }
        .popup__close {
            position: static;
            padding-top: 2px;
            margin-left: toem(40);
        }
        .select-city {
            margin-right: toem(25);
            min-width: toem(145);
            svg {
                * {
                    stroke: $text_color_1;
                }
            }
        }
    }
    &__bottom {
        border-top: 1px solid $add_gray_3;
        padding: toem(35) 0 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__phone {
        display: flex;
        color: $text_color_1;
        &-icon {
            margin-right: toem(16);
            svg {
                height: auto;
                width: toem(16);
            }
        }
        &-number {
            font-size: toem(19);
            letter-spacing: 0.02em;
            line-height: 1;
        }
    }
    &__adress {
        display: flex;
        &-icon {
            margin-right: toem(16);
            svg {
                height: auto;
                width: toem(13);
            }
        }
        &-text {
            font-size: toem(19);
            letter-spacing: 0.02em;
            line-height: 1.1;
        }
    }
    &__polity {
        font-size: 12px;
        color: $text_color_1;
        &:hover {
            text-decoration: underline;
        }
    }
    &__cart {
        display: flex;
        align-items: center;
        padding-top: toem(40);
        padding-bottom: toem(50);
        &-info {
            padding-right: toem(15);
        }
        &-title {
            line-height: toem(19);
            letter-spacing: 0.08em;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: toem(8,19);
        }
        &-desc {
            font-size: 12px;
            line-height: 143%;
            letter-spacing: 0.02em;
            color: rgba(35, 34, 38, 0.8);
        }
        &-price {
            font-size: toem(21);
            margin-top: toem(13,21);
            &_min {
                letter-spacing: 0.02em;
                font-size: 12px;
                line-height: 143%;
                letter-spacing: 0.02em;
                &:not(:last-child) {
                    margin-right: 18px;
                }
            }
        }
        &-bottom {
            display: flex;
            flex-wrap: wrap;
            margin-top: toem(12);
        }
    }
    &__preview {
        width: toem(146);
        min-width: toem(146);
        margin-right: toem(35);
        img {
            display: block;
            width: 100%;
        }
    }
}

.modal-wrapper {
    padding: toem(50) 0 toem(50) 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


/* --------------------------------------------------------------------------// Popup */

/* Parsley error */
.parsley-error {
  border-color: #f6504d !important;
}
.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}
.parsley-errors-list.filled {
  display: block;
}
.parsley-errors-list>li {
  font-size: 12px;
  list-style: none;
  color: #f6504d;
}
/* --------------------------------------------------------------------------// Parsley error */

@include max(1500) {
    .footer {
        &__contact {
            font-size: toem(29);
        }
        &__bottom {
            margin-top: toem(60);
        }
        &__develop {
            justify-content: flex-end;
            flex-wrap: wrap;
            margin-top: toem(-25);
            &-text {
                font-size: 13px;
                display: block;
                width: 90px;
                margin-bottom: 10px;
            }
        }
        &__about {
            margin-top: toem(48);
            font-size: 14px;
            max-width: toem(260);
        }
        .subscribe {
            margin-top: toem(30);
        }
    }
}

@include max(1200) {
    .popup {
        &__brend {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

@include max(1025) {
    .popup {
        &__close {
            &_menu {
                right: 25px;
                top: 50px;
            }
        }
    }
    .modal-menu__row {
        padding-top: 10px;
    }
    .modal-menu {
        height: 75vh;
    }
}

@include max(960) {
    .footer {
        &__wrap {
            padding-top: 0;
        }
        &__adress {
            font-size: toem(32);
        }
        &__label {
            font-size: 12px;
        }
        &__contact {
            font-size: 20px;
        }
        &__develop {
            margin-top: -30px;
            &-logo {
                svg {
                    width: 70px;
                    height: auto;
                }
            }
            &-text {
                width: 70px;
            }
        }
    }
    .popup {
        &__close {
            &_menu {
                right: 25px;
                top: 30px;
            }
        }
        &__head {
            padding-top: toem(30);
        }
    }
}

@include max(769) {
    .popup__brend-list_main {
        height: 45vh;
        padding-left: 0;
        padding-right: 20px;
    }
}

@include max(479) {
    .footer {
        &__open-map {
            margin-bottom: 40px;
        }
        &__menu {
            display: flex;
            flex-wrap: wrap;
            &-item {
                width: 50%;
            }
        }
        &__menu_right {
            .footer__menu-item {
                text-align: left;
            }
        }
        &__about {
            margin-top: 10px;
            max-width: none;
            &-item {
                width: 50%;
                border-bottom: 0;
                text-decoration: underline;
            }
        }
        &__bottom {
            margin-top: 20px;
            width: 50%;
        }
        .subscribe {
            margin-bottom: 15px;
        }
        &__develop {
            justify-content: flex-start;
            margin-top: 7px;
            &-text {
                margin-right: 15px;
                margin-bottom: 0;
                font-size: 13px;
                padding-top: 2px;
            }
        }
        &__contact {
            font-size: 18px;
        }
    }
    .popup {
        &__form {
            width: 100%;
        }
    }
    .popup {
        &__brend {
            padding-left: 30px;
            &-col {
                width: 50%;
            }
            &-bottom {
                margin-right: 20px;
            }
        }
        &__head {
            padding-bottom: 20px;
            padding-top: 20px;
            &-line {
                display: none;
            }
        }
        &__bottom {
            flex-wrap: wrap;
        }
        &__phone, &__adress {
            margin-bottom: 15px;
        }
    }
    .modal-menu {
        height: auto;
        padding-top: 0;
        &__col {
            width: 50%;
            margin-top: 30px;
        }
        &__title {
            margin-bottom: 5px;
        }
        &__logo {
            display: none;
        }
        &__row {
            padding-top: 0;
        }
        &__item:not(:last-child) {
            margin-bottom: 2px;
        }
    }
    .popup__brend2-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .popup__brend-list_main {
        height: 70vh;
    }
}