.mt70 {
    margin-top: toem(70);
}

.mt65 {
    margin-top: toem(65);
}

.mt60 {
    margin-top: toem(60);
}

.mt55 {
    margin-top: toem(55);
}

.mt50 {
    margin-top: toem(50);
}

.mt45 {
    margin-top: toem(45);
}

.mt40 {
    margin-top: toem(40);
}

.mt35 {
    margin-top: toem(35);
}

.mt30 {
    margin-top: toem(30);
}

.mt25 {
    margin-top: toem(25);
}

.mt20 {
    margin-top: toem(20);
}

.mt15 {
    margin-top: toem(15);
}

.mt10 {
    margin-top: toem(10);
}

.mt5 {
    margin-top: toem(5);
}
.color-green {
    color: $green;
}
.screen-title {
    font-weight: 600;
    line-height: 175%;
    text-transform: uppercase;
    letter-spacing: 0.12em;
}
.desc-text {
    line-height: 175%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-weight: 600;
}
.btn {
    height: toem(66,14);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: toem(14);
    line-height: 156%;
    letter-spacing: 0.08em;
    padding: toem(15,14) toem(30,14) toem(15,14) toem(30,14);
    &__icon-list {
        width: toem(19,14);
        margin-right: toem(30,14);
    }
    &_grey {
        background: $tepliy_seriy;
        &:hover {
            background: $add_gray_2;
        }
    }
    &_green {
        text-transform: uppercase;
        background: $green;
        color: #fff;
        &:hover {
            opacity: 0.8;
        }
    }
    &_stroke {
        border: 1px solid $add_gray_3;
        background: none;
        &:hover {
            background: $add_gray_3;
        }
    }
    &_close {
        padding: 0;
        width: toem(66,14);
        svg {
            * {
                fill: #fff;
            }
        }
        &-brend {
            width: toem(38,14);
            height: toem(38,14);
        }
    }
}
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/

.header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 200;
    &__row {
        padding: toem(52) 0 toem(38) 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $tepliy_seriy;
    }
    &__left, &__right {
        display: flex;
        align-items: center;
    }
    &__logo {
        width: toem(235);
        img {
            display: block;
            width: 100%;
        }
    }
    &__catalog {
        display: flex;
        &-item {
            display: block;
            font-size: toem(13);
            line-height: toem(16,13);
            text-transform: uppercase;
            letter-spacing: 0.05em;
            color: $text_color_1;
            margin-left: toem(42,13);
            &:hover {
                color: $green;
            }
        }
    }
    &__menu {
        display: flex;
        margin-right: toem(42);
        &-item {
            display: block;
            font-size: toem(13);
            line-height: toem(16,13);
            text-transform: uppercase;
            letter-spacing: 0.05em;
            color: $text_color_1;
            margin-left: toem(42,13);
            &:hover {
                color: $green;
            }
        }
    }
    &__phone {
        &-icon {
            margin-right: toem(43);
            display: none;
            cursor: pointer;
        }
        &-number {
            font-size: toem(19);
            color: $text_color_1;
            margin-bottom: toem(3,19);
        }
    }
    &__burger {
        margin-left: toem(42);
        width: toem(19);
        min-width: toem(19);
        overflow: hidden;
        cursor: pointer;
        &-line:not(:first-child) {
            margin-top: toem(5);
        }
        &-line {
            height: 1px;
            background: $text_color_1;
        }
        &-line:last-child {
            margin-left: toem(8);
            @include transition($default-transition);
        }
        &:hover {
            .header__burger-line:last-child {
                margin-left: 0;
            }
        }
    }
}

.header-bottom {
    padding: toem(30) 0 toem(30) 0;
    background: #fff;
    z-index: 100;
    &__menu {
        display: flex;
        &-item {
            display: block;
            font-size: toem(13);
            line-height: toem(16,13);
            text-transform: uppercase;
            letter-spacing: 0.05em;
            color: $text_color_1;
            margin-left: toem(30,13);
            &:hover {
                color: $green;
            }
        }
    }
    &__right2 {
        display: none;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__left, &__right {
        display: flex;
        align-items: center;
    }
    &__currency {
        display: flex;
        margin-left: toem(35);
        &-item {
            display: block;
            font-size: toem(14);
            line-height: toem(17,14);
            color: $text_color_3;
            letter-spacing: 0.05em;
            padding-bottom: 4px;
            margin-top: 6px;
            &:not(:last-child) {
                margin-right: toem(24,14);
            }
            &.active {
                color: $text_color_1;
                border-bottom: 1px solid rgba(54, 52, 59, 0.3);
            }
        }
    }
    &__mess {
        letter-spacing: 0.05em;
text-transform: uppercase;
        font-size: toem(12);
        line-height: toem(15,12);
        margin-right: toem(25,12);
    }
    &__phone {
        &-icon {
            margin-left: toem(32);
            cursor: pointer;
        }
        &-number {
            font-size: toem(19);
            color: $text_color_1;
            margin-bottom: toem(3,19);
            margin-right: toem(33,19)
        }
    }
    &__line {
        width: 1px;
        height: toem(26);
        background: #EEEEEE;
    }
    &__call {
        font-size: toem(17);
line-height: 100%;
        text-decoration-line: underline;
        color: $text_color_1;
        padding-bottom: toem(3,17);
        margin-left: toem(16,17);
    }
    &__favorite {
        margin-left: toem(36);
    }
    &__stock {
        display: flex;
        align-items: center;
        position: relative;
        margin-left: toem(35);
        &-icon {
            display: block;
            svg {
                display: block;
            }
        }
        &-count {
            width: 14px;
            height: 14px;
            background: $green;
            border-radius: 100%;
            position: absolute;
            left: 8px;
            top: -6px;
            font-size: 10px;
            color: #fff;
            text-align: center;
            line-height: 14px;
        }
        &-text {
            color: $text_color_1;
            letter-spacing: 0.02em;
            font-size: toem(15);
            line-height: 156%;
            margin-left: toem(20,15);
        }
    }
}

.select-city {
    display: flex;
    align-items: center;
    position: relative;
    width: toem(145);
    border-bottom: 1px solid $add_gray_3;
    &__item {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        position: relative;
        z-index: 2;
        font-size: toem(16);
        height: toem(30);
        margin-right: -11px;
        background: none;
        padding-right: toem(15);
    }
}

@include max(1800) {
    .header {
        font-size: 14px;
    }
    .header__phone-number {
        font-size: 19px;
    }
    .header__menu-item, .header__catalog-item {
        margin-left: 25px;
    }
}

@include max(1500) {
    .header {
        font-size: 16px;
        &__menu {
            display: none;
        }
        &__phone {
            &-icon {
                display: block;
            }
        }
        &__burger {
            margin-left: toem(32);
        }
    }
    .header-bottom {
        &__right2 {
            display: flex;
            align-items: center;
        }
        &__right {
            display: none;
        }
    }
    .header__phone-number {
        font-size: 18px;
    }
    .header__catalog-item {
        margin-left: toem(45,13);
    }
    .header__phone-icon {
        margin-right: toem(35);
        padding-top: toem(2);
    }
    .header {
        .header-bottom__stock {
            display: none;
        }
    }
}

@include max(1200) {
    .header {
        font-size: 14px;
        &__phone-icon {
            margin-right: 15px;
        }
        &__burger {
            font-size: 16px;
        }
    }
}

@include max(1025) {
    .header {
        &__logo {
            width: 200px;
        }
        &__catalog-item {
            margin-left: 20px;
            margin-bottom: 0;
        }
    }
}

@include max(960) {
    .header {
        font-size: 16px;
        &__logo {
            width: toem(235);
        }
        &__row {
            padding: 20px 0 20px 0;
        }
        &__catalog {
            display: none;
        }
    }
}

@include max(479) {
    .header {
        &__logo {
            overflow: hidden;
            width: 200px;
            img {
                margin-left: -41px;
                width: 235px;
            }
        }
        &__phone-number {
            display: none;
        }
        &__phone-icon {
            margin-right: 22px;
            padding: 2px 20px 2px 20px;
            border-left: 1px solid $tepliy_seriy;
            border-right: 1px solid $tepliy_seriy;
            svg {
                width: 19px;
                height: 19px;
                transform: translateY(1px);
                * {
                    fill: $text_color_1;
                }
            }
        }
        &__burger {
            font-size: 20px;
            margin-left: 0;
        }
    }
    .header-bottom {
        &__menu {
            display: none;
        }
        &__favorite {
            transform: translateY(2px);
        }
        &__currency, &__stock {
            margin-left: 20px;
        }
    }
}


