$min-width: 320px; 
$max-width: 1920px; 

$text_color_1: #232226;
$text_color_2: rgba(35, 34, 38, 0.8);
$text_color_3: rgba(35, 34, 38, 0.6);

$add_gray_1: #535960;
$add_gray_2: rgba(83, 89, 96, 0.16);
$add_gray_3: #F2F0F5;

$tepliy_seriy: #F1F0EE;

$green: #409D38;

$base-bg: #fff;
$link-color: $green;

$default-transition: 0.3;